*{
    margin: 0;
    padding: 0;
    font-family: 'effra',sans-serif;
}

@font-face {
    font-family: 'effrabold';
    src: url('bold-webfont.woff2') format('woff2'),
         url('bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'effrabold_italic';
    src: url('bold_italic-webfont.woff2') format('woff2'),
         url('bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effraitalic';
    src: url('italic-webfont.woff2') format('woff2'),
         url('italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effraregular';
    src: url('regular-webfont.woff2') format('woff2'),
         url('regular-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;

}
.polling{
width: 300px;
margin: 0 auto;
padding: 20px 20px 55px 20px;
border:1px solid #d8dce1;
border-radius: 3px;
box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
box-sizing: border-box;
}
.polling button{
    margin-top: 10px;
}
.textarea_default {
background-color: #fff;
border: 1px solid #d8dce1;
box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.05);
padding: 10px;
outline: 0;
border-radius: 3px;
width: 258px;
resize: none;
font-size: 14px;
font-weight: 300;
}
.input_default {
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #d8dce1;
    border-left: 0;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.05);
    padding: 0 0 0 10px;
    outline: 0;
    border-radius: 3px;
    width: 186px;
}

.polling-station .input_default {
	cursor:pointer;	
}

.input_label {
font-size: 12px;
color: #7f8796;
text-transform: uppercase;
display: block;
margin: 0 0 5px;
}
.input_big {
height: 40px;
}
.checkbox {
display: inline-block;
 background-color: #fff;
border: 1px solid rgba(147,158,174,.6);
border-radius: 1px;
width: 15px;
height: 15px;
box-shadow: inset 0 1px 2px 0 rgba(189,193,197,.1);
}

.checkbox_active {
background-color: #1DABF2;
background-image: url(/images/check.png);
background-size: 11px 11px;
background-position: center;
}
.btn {
border-radius: 3px;
color: #fff;
text-shadow: 0 0 2px #72ab3e;
font-weight: 500;
padding: 8px 10px;
outline: 0;
min-width: 66px;
font-size: 14px;
box-sizing: border-box;
cursor:pointer;
}

.btn_primary {
background-color: #83C447;
 border: 1px solid #72AB3E;
}
.polling div{
    margin: 20px 0px;
}
.polling h3{
    color:#2B333D;
    font-size: 16px;
}
.add{
    color:#21ABF0;
    font-size: 12px;
    display: inline-block;
    margin-top: -10px;
    cursor:pointer;
}
.options{
    color:#5C6470;
    font-size: 12px;
    display: inline-block;
    margin: -8px 0px 0px 10px;
}
button{
    float: right;
    display: block;
    clear: both;
    margin-right: 2px;
}
.checkbox, .checkbox_active{
    float: left;
    margin-top: -10px;
}
.poll-option{
    background-color: #fff;
    border: 1px solid #d8dce1;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.05);
    width: 256px;
    border-radius: 4px;
}

.poll-option:hover  span.delete{
	display:block;
}

.poll-option span.delete{
	background: url(/images/close.png) no-repeat center top 10px;
    width: 20px;
    height: 20px;
    float: right;
    display:none;
    cursor: pointer;
}

.icon{
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #D8DCE1;
    box-sizing: border-box;
}
.picture-upload{
    background-image: url(/images/icon-image.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    background-size:17px 15px;
}

.option-holder{
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.polling .poll-option{
    margin: 0;
}
.polling-station p{
    font-size: 14px;
    color:#7F8796;
    font-weight: 400;
    line-height:18px;
}
.polling-station cite{
    font-size:12px;
    color:#2B333D;
    font-weight: 300;
    opacity: 0.4;
    margin-top: 10px;
    display: inline-block;
}
.polling-station code{
    font-size: 10px;
    color: #7F8796;
    float: right;
    margin-top: 5px;
}
.question .name{
    font-size: 14px;
    color:#2B333D;
    font-weight: 600;
    margin-bottom: 5px;
    line-height:18px;
}
.polling-station ul{
    margin-top: 10px;
}
.polling-station .option-container{
    margin:10px 0;
}
.polling-station .expand{
    margin:0;
}

.polling-station .contract{
	display:none;
}
.notification{
    background: url(/images/notification.png) no-repeat top 5px left 4px;
    width: 15px;
    height: 15px;
    float: left;
    margin-left: -15px;
}
ul{
    max-height: 324px;
    height: 100%;
    overflow: scroll;
}
.container{
    max-height: 294px;
    height: 100%;
    overflow: scroll;
}
li.question{
    list-style: none;
    border-bottom: 1px solid #E4E6EA;
    padding: 5px 20px 15px 20px;
    margin: 0px -20px 0px -20px;
    cursor: pointer;
}

.overlay{
	display : none;
	position : absolute;
	top : 0;
	left : 490px;
	width : 300px;
	height : 430px;
	background-color : #fff;
	opacity : 0.5;
	z-index : 999;
	margin : 0 !important;
}
.loader{
	display: none;
    position: absolute;
    top: 40%;
    left: 49%;
    z-index: 1001;
}

.wrapper {
	position: relative;
}

*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   .picture-upload{
	    background-image: url(/images/icon-image2x.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size:17px 15px;
	}
    .checkbox_active {
	    background-color: #1DABF2;
	    background-image: url(/images/check_2x.png);
	    background-size: 11px 11px;
	    background-position: center;
	}
}
